body {
    margin: 0;
    padding: 0;
    
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    
    z-index: 1;

    /*
    z-index 属性设定了一个定位元素及其后代元素或 flex 项目的 z-order。
    当元素之间重叠的时候，z-index 较大的元素会覆盖较小的元素在上层进行显示。 
     */
    
    /* -webkit-user-select: none;
    user-select: none; */
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.5s ease;
    /* 
    transition主要包含四个属性值：
    color 执行变换的属性：transition-property,
    0.5s 变换延续的时间：transition-duration,
    ease 在延续时间段，变换的速率变化transition-timing-function,
    变换延迟时间transition-delay。
    */
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -7px;
    
    cursor: pointer;
    /*
    cursor设置光标的类型（如果有），在鼠标指针悬停在元素上时显示相应样式。 
     */
    opacity: 0;
    z-index: 2;
    
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    /*
    transform-origin CSS属性让你更改一个元素变形的原点。 
     */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), 
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px,-1px);  
    background: #232323;   
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0,-1px);
}

#menu{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
   padding: 10px 0;
   font-size: 22px; 
}

#menuToggle input:checked ~ ul{
    transform: none;
}

